  <h3 class="mt-4 mb-4"> <%= title_section %></h3>

    <div class="row">
        <% events.each do |event| %>
            <div class="col-lg-6">
                <div class="card shadow mb-3 mt-2">
                    <div class="card-body">
                        <h4 class="card-title"> <%= event.name %></h4>
                        <p class="lead"><%= truncate(event.description, length: 50) %></p>
                        <h4><span class="badge bg-primary"><%= event.total_duration %></span></h4>
                        <h4><span class="badge bg-primary"><%= event.daily_duration %></span></h4>

                        <%= link_to 'View Details', event, class: 'btn btn-danger btn-lg' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>